body {
  font-family: sans-serif;
  background-color: #333;
  color: white;
}

video {
  max-width: 100%;
  width: 320px;
}

div.select {
  display: inline-block;
  margin: 0 0 1em 0;
}

.hidden {
  display: none;
}

button {
  margin: 1em 0 1em 0;
}

label.error-label {
  color: #F44336;
  font-size: .85em;
  font-weight: 200;
  margin: 0;
}